.ba-header-bar {
	@include xy-grid-container;
	display: flex;
	justify-content: space-between;
}

// Navigation breakpoints
.mobile-menu {
	@include hide-for(medium);
}

.desktop-menu {
	@include show-for(medium);
}

// Mobile menu
.mobile-menu {
	display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
	height: 100vh;
	> ul.menu {
		padding: 1rem;

		a {
			color: $white;
		}
	}
}

// Tablet and desktop menu

// WP post navigation
.post-navigation {
	@include clearfix;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
}


// WP Header Bar
.ba-header-bar{
	min-height: 105px;
	align-items: center;
}

.ba-header-logo{
	display: flex;
	align-items: center;
	width: 50%;
	@include breakpoint(medium) {
		width: auto;
	}


	.ba-header-desc{
		padding-left: 30px;
		color: #9a9a9a;
		display: none;
		@include breakpoint(medium) {
			display: block;
		}
	}
}

.ba-header-phone{
	.ba-header-phone-link{
		font-size: 14px;
		line-height: 18px;
		@include breakpoint(medium) {
			font-size: 20px;
			line-height: 24px;
		}


		img{
			padding-right: 10px;
			display: none;
			@include breakpoint(medium) {
				display: inline-block;
			}
		}

		.ba-header-phone-subtext{
			display: none;
			color: #9a9a9a;
			font-size: 12px;
			line-height: 12px;
			text-align: right;
			@include breakpoint(medium) {
				display: block;
			}
		}
	}
}

// WP Header Content
.ba-header-content{
	max-width: 1720px;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	position: relative;
	min-height: 450px;
	overflow: hidden;
	@include breakpoint(medium) {
		min-height: 545px;
		overflow: visible;
	}

	.ba-header-content-bg{
		position: absolute;
		z-index: -1;
		max-width: inherit;
		min-height: 450px;
		max-height: 450px;
		@include breakpoint(medium) {
			min-height: 545px;
		}
	}

	.ba-header-content__text{
		padding-top: 35px;
		flex-direction: column-reverse;
		@include breakpoint(medium) {
			padding-top: 100px;
			flex-direction: row;
		}
	}

	.ba-header-content__img{
		display: flex;
		justify-content: center;
		img{
			width: 25%;
			height: 100%;
			@include breakpoint(medium) {
				width: auto;
				height: auto;
			}
		}
	}

	.ba-header-content__left-col{
		@include breakpoint(medium) {
			padding-top: 30px;
		}
		@include breakpoint(large) {
			padding-top: 70px;
		}

		.ba-header-content__suptext{
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-weight: 700;
			margin-bottom: 10px;
			text-align: center;
			@include breakpoint(medium) {
				text-align: left;
				font-size: 14px;
				margin-bottom: 20px;
			}
		}

		.ba-header-content__title{
			font-weight: 600;
			margin: 0 auto 30px;
			text-align: center;
			max-width: 230px;
			line-height: 36px;
			@include breakpoint(medium) {
				text-align: left;
				line-height: 70px;
				margin: 0 auto 40px;
				max-width: 100%;
			}
		}

		.ba-header-content__desc{
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 50px;
			@include breakpoint(small) {
				display: none;
			}
			@include breakpoint(medium) {
				display: block;
			}
			@include breakpoint(large) {
				margin-bottom: 90px;
			}
		}

		.ba-header-content__form{
			background: #fff;
			padding: 20px 20px 5px 20px;
			color: $primary-color;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			@include breakpoint(small) {
				display: none;
			}
			@include breakpoint(medium) {
				margin-left: -200px;
				display: block;
			}
			@include breakpoint(large) {
				max-width: 570px;
				width: 100%;
				margin-left: 0;
			}

			.ba-header-form__content{
				border: 1px solid #c8dcba;
				padding: 50px 50px 120px 50px;
				position: relative;

				.ba-header-form__title{
					max-width: 200px;
					font-weight: 700;
					text-transform: uppercase;
					line-height: 22px;
					margin-bottom: 35px;
				}

				.ba-header-form_inputs{
					display: flex;
					justify-content: space-between;
					input{
						max-width: 200px;
						width: 100%;
						height: 40px;
						outline: none;
						box-shadow: none;
						border: none;
						border-bottom: 1px solid #cddcbc;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						padding: 0;
						font-size: 14px;
						color: #3c4e2a;

						&::placeholder{
							color: #a8c48c;
						}
					}
				}

				.ba-header-form__button{
					cursor: pointer;
					padding-left: 75px;
					padding-right: 65px;
					position: absolute;
					bottom: 0;
					right: 0;
				}
			}

			.wpcf7-response-output{
				position: absolute;
				bottom: 5px;
				left: 0;
				max-width: 45%;
				font-size: 14px;
				line-height: 20px;
				border: none;
				margin: 0;
			}
		}
	}
	
	.ba-header-mobile-button{
		display: block;
		width: 100%;
		max-width: 1000px;
		position: absolute;
		bottom: 0;
		text-align: center;
		@include breakpoint(medium) {
			display: none;
		}
	}
}


// WP Header Info
.ba-header-info{
	margin-top: 40px;
	@include breakpoint(medium) {
		margin-top: 100px;
	}

	.ba-header-info-container{
		padding: 0 30px;

		.ba-header-info__item{
			padding: 30px 0 0 30px;
			position: relative;
			margin-bottom: 20px;
			@include breakpoint(medium) {
				padding: 30px 30px 0 30px;
				margin-bottom: 75px;
			}

			@include breakpoint(large) {
				padding: 30px 0 0 30px;
			}

			@include breakpoint(medium) {
				&::before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 25px;
					height: 25px;
					background: transparent;
					border-radius: 50%;
					border: 5px solid #e4eddc;
				}
			}

			.ba-header-info-item__title{
				font-size: 30px;
				font-weight: 600;
				color: $secondary-color;
				display: inline;
				border-bottom: 3px solid $secondary-color;

				.ba-header-info__title-end{
					font-size: 18px;
				}
			}

			.ba-header-info-item__desc{
				margin-top: 20px;
				color: #000;
			}
		}
	}
}